[Unit]
Description=PiControl backend application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
# We need to be root in order to create the virtual keyboard
User=root
ExecStart=/usr/bin/picontrol

[Install]
WantedBy=multi-user.target
